.one{
    margin: 5% 10% 0% 10%;
    @include mobile() {
        margin: 0 auto;
    }
    .intro{
        width: 53%;
        margin: 0 auto;
        text-align: center;
        &__header{
            color: $text-color;
            font-style: normal;
            font-weight: 500;
            font-size: 26px;
            line-height: 39px;
        }
        &__description{
            color: $text-color;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 28px;
            padding: 10px 0;
        }
        @include mobile() {
            width: 100%;
            margin-top: 15%;
            &__header{
                font-size: 24px;
                line-height: 36px;
            }
            &__description{
                font-size: 16px;
                line-height: 24px;
                padding: 0 15%;
            }
        }
    }
    .services{
        @include flex-wrap();
        margin: 6% 0;
        .box{
            width: 25%;
            text-align: center;
            padding: 3%;
            margin: 0 auto;
            &__header{
                color: $text-color;
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 40px;
            }
            &__text{
                color: $text-color;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
            }
            @include mobile() {
                width: 100%;
                margin: 7% auto;
                padding: 0 15%;
            }
        }
    }
}